@charset "utf-8";
* {
    margin:0;
    padding:0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic,  'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 17px;
    line-height: 1.6em;
    letter-spacing: 0.9pt
    color: Navy;
}

header {
    width: 100%;
    background-color: Ivory;
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    border-top: 1px LightSteelBlue solid;
    /*border-bottom: 1px Blue solid;*/
    box-sizing: border-box;
}

#top {
    width:80%;
    margin:0 auto;
    height: auto;
    background-color: Ivory;
    color: Navy;
}

#logo {
    float:left;
    width: 40%;
    padding: 22px 0 15px 45px;
    box-sizing: border-box;
    background-color: Ivory;
    background-image: url(../images/navysss.png);
    background-repeat: no-repeat;
    background-position: left center;
}

nav ul {
    list-style-type: none;
    display: block;
}

nav li {
    float: left;
    padding: 25px 10px 0 8px;
    font-weight: bold;
}

nav li a {
    text-decoration: none;
}

nav li a:hover {
    background: navy;
    color: white;
}

#mainimg {
    width: 100%;
    display: block;
}

#wrap {
    width: 100%;
}

#prof{
    width:100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: Lavender;
    color: MidnightBlue;
    }

#prof-l {
    width: 40%;
    height: auto;
    background-color: LightSteelBlue;
    float: left;
    overflow: hidden;
    padding-bottom: 12px;
    border-bottom: 1px navy solid;
    box-sizing: border-box;
}


#prof-lc {
    width: 80%;
    height: auto;
    background-color: LightSteelBlue;
    float: right;
    padding: 40px 0 0 70px;
    box-sizing: border-box;
    text-align: center;
}

#prof-r {
    width: 60%;
    height: auto;
    background-color: FloralWhite;
    float: left;
    overflow: hidden;
    border-top: 2px LightSteelBlue solid;
    border-left: 2px LightSteelBlue solid;
    box-sizing: border-box;

}

#prof-rc {
    width: 80%;
    height: auto;
    background-color: FloralWhite;
    float: left;
    padding: 40px;
    box-sizing: border-box;
}

#corres {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    background-color: Lavender;
    color: MidnightBlue;
}

#corres-l {
    width: 40%;
    height: auto;
    background-color: LightSteelBlue;
    float: left;
    overflow: hidden;
    padding-bottom: 12px;
    border-bottom: 1px navy solid;
    box-sizing: border-box;
}

#corres-lc {
    width: 80%;
    height: auto;
    background-color: LightSteelBlue;
    float: right;
    padding: 40px 0 0 100px;
    box-sizing: border-box;
    text-align: center;
}

#corres-r {
    width:60%;
    height: auto;
    background-color: Lavender;
    float: left;
    border-top: 2px LightSteelBlue solid;
    border-left: 2px LightSteelBlue solid;
    box-sizing: border-box;
}

#corres-rc {
    width: 80%;
    height: auto;
    background-color: Lavender;
    float: left;
    padding: 40px;
    box-sizing: border-box;
}

#flow {
    width: 100%;
    background-color: WhiteSmoke;
    color: MidnightBlue;
    border-top: 2px LightSteelBlue ridge;
    border-bottom: 2px LightSteelBlue ridge;
    box-sizing: border-box;
    }

#flow-c {
    width:80%;
    margin:0 auto;
    height: auto;
    background-color: WhiteSmoke;
    clear:both;
    padding: 50px 100px;
    box-sizing:border-box ;
    }

#secimg {
    width: 100%;
    display: block;
    height: auto;
    background-color: gray;
    clear:both;
}

#map {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#map-l {
    width: 40%;
    height: auto;
    background-color: BlanchedAlmond;
    float: left;
    padding-bottom: 12px;
    border-bottom: 1px navy solid;
    box-sizing: border-box;
}

#map-lc {
    width: 80%;
    height: auto;
    background-color: BlanchedAlmond;
    float: right;
    padding: 40px 0 0 100px;
    box-sizing: border-box;
    text-align: center;
}

#map-r {
    width: 60%;
    height: auto;
    background-color: Cornsilk;
    float: left;
}

#map-rc {
    width: 80%;
    height: auto;
    background-color: Cornsilk;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}

#contact {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#cont-l {
    width: 40%;
    height: auto;
    background-color: BlanchedAlmond;
    float: left;
    padding-bottom: 12px;
    border-bottom: 1px Cornsilk solid;
    box-sizing: border-box;
}

#cont-lc {
    width: 80%;
    height: auto;
    background-color: BlanchedAlmond;
    float: right;
    padding: 40px 0 0 100px;
    box-sizing: border-box;
    text-align: center;
}

#cont-r {
    width: 60%;
    height: auto;
    background-color: Cornsilk;
    float: left;
}

#cont-rc {
    width: 80%;
    height: auto;
    background-color: Cornsilk;
    float: left;
    padding: 40px;
    box-sizing: border-box;
}

footer {
    width:100%;
    height: 100px;
    background-color: Bisque;
    clear: both;
}
