@charset "utf-8";
* {
    margin:0;
    padding:0;
}
body {
    margin: 0;
    padding: 0;
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 87.5%;
    line-height: 1.4;
}

header {
    width: 100%;
}

#top {
    width:80%;
    margin:0 auto;
    height: 100px;
    background-color: AliceBlue;
}
#logo {
    float:left;
    width: 40%;
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    display: block;
}

nav li {
    float: left;
    padding: 40px 10px 10px 10px;
}

#mainimg {
    width:100%;
    height: auto;
    background: gray;
}

#wrap {
    width: 100%;
}

#prof{
    width:100%;
    margin: 0 auto;
    overflow: hidden;
}

#prof-l {
    width: 40%;
    height: auto;
    background-color: Lavender;
    float: left;
    overflow: hidden;
}


#prof-lc {
    width: 80%;
    height: auto;
    background-color: Lavender;
    float: right;
    padding: 30px 0 0 70px;
    box-sizing: border-box;
    text-align: center;
}

#prof-r {
    width: 60%;
    height: auto;
    background-color: Cornsilk;
    float: left;
    overflow: hidden;

}

#prof-rc {
    width: 80%;
    height: auto;
    background-color: Cornsilk;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}

#corres {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

#corres-l {
    width: 40%;
    height: auto;
    background-color: Lavender;
    float: left;
}

#corres-lc {
    width: 80%;
    height: auto;
    background-color: Lavender;
    float: right;
    padding: 60px 0 0 100px;
    box-sizing: border-box;
}

#corres-r {
    width:60%;
    height: auto;
    background-color: Cornsilk;
    float: left;
}

#corres-rc {
    width: 80%;
    height: auto;
    background-color: Cornsilk;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}

#flow {
    width: 100%;
    background-color: MintCream;

}

#flow-c {
    width:80%;
    margin:0 auto;
    height: auto;
    background-color: MintCream;
    clear:both;
    padding: 50px 100px;
    box-sizing:border-box ;
}

#secimg {
    width: 100%;
    height: auto;
    background-color: gray;
    clear:both;
}

#map {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#map-l {
    width: 40%;
    height: auto;
    background-color: Lavender;
    float: left;
}

#map-lc {
    width: 80%;
    height: auto;
    background-color: Lavender;
    float: right;
    padding: 60px 0 0 100px;
    box-sizing: border-box;
}

#map-r {
    width: 60%;
    height: auto;
    background-color: Cornsilk;
    float: left;
}

#map-rc {
    width: 80%;
    height: auto;
    background-color: Cornsilk;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}

#contact {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#cont-l {
    width: 40%;
    height: auto;
    background-color: Lavender;
    float: left;
}

#cont-lc {
    width: 80%;
    height: auto;
    background-color: Lavender;
    float: right;
    padding: 60px 0 0 100px;
    box-sizing: border-box;
}

#cont-r {
    width: 60%;
    height: auto;
    background-color: Cornsilk;
    float: left;
}

#cont-rc {
    width: 80%;
    height: auto;
    background-color: Cornsilk;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}

footer {
    width:100%;
    height: 100px;
    background-color: Bisque;
    clear: both;
}
